/**
 * 这里是uni-app内置的常用样式变量
 *
 * uni-app 官方扩展插件及插件市场（https://ext.dcloud.net.cn）上很多三方插件均使用了这些样式变量
 * 如果你是插件开发者，建议你使用scss预处理，并在插件代码中直接使用这些变量（无需 import 这个文件），方便用户通过搭积木的方式开发整体风格一致的App
 *
 */

/**
 * 如果你是App开发者（插件使用者），你可以通过修改这些变量来定制自己的插件主题，实现自定义主题功能
 *
 * 如果你的项目同样使用了scss预处理，你也可以直接在你的 scss 代码中使用如下变量，同时无需 import 这个文件
 */

/* 颜色变量 */
$fun-gray-color: #BEBEBE;
$fun-primary-color: #26C78D;
$fun-green-color: #26C78D;
$fun-black-color: #000000;
$fun-red-color: #f53636;
$fun-blue-color: #00A8FF;
$fun-yellow-color: #FFE300;
$fun-orange-color: #ff7800;
$fun-tag-color:#FFF5F5;

$fun-selling-color: #E41515; //商品现在价格
$fun-market-color: #939393; //原价
$fun-border-color: #eee;

/** mixins **/
@mixin cover-img($bgsize:cover,$paddingTop:0px,$bgcolor:#f2f2f2,$repreat:no-repeat,$position:center) {
  background: {
    color: $bgcolor;
    size: $bgsize;
    repeat: $repreat;
    position: $position;
  };
  padding: {
    top: $paddingTop;
  };
}

@mixin rest{
  padding: 0;
  margin: 0;
  border: 0;
}
